.main {
  width:100vw;
  overflow-x:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.nav {
  width:100%;
  height:64px;
  background-color:#ffff;
  display:flex;
  align-items:center;
  justify-content:space-around;
}

.logo {
  transform:translateY(-5px);
}

.li {
  float:left;
  margin:0px 16px;
  font-size:18px;
}

.home {
  position:relative;
  width:100%;
  height:740px;
  background:url('/home.jpg');
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

.h1 {
  font-size:54px;
  font-weight:600;
  color:#ffff;
}

.para {
  font-size:20px;
  font-weight:400;
  color:#ffff;
  width:45%;
  margin-top:16px;
}

.overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:rgba(0,0,0,0.25);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  padding-left:84px;
}

.about {
  width:100%;
  height:660px;
  background-color:#ffff;
  display:flex;
}

.left {
  width:50%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.right {
  width:50%;
  height:100%;
  background:url('/group 1.svg');
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
}

.services {
  width:100%;
  height:680px;
  background-color:#ffff;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.container {
  width:80%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:24px 0px;
}

.img_container {
  width:100%;
  height:300px;
  background-color:aliceblue;
  border-radius:12px;
}

.tab {
  border-radius:12px;
}

.div {
  width:360px;
  height:350px;
  /* background-color:#000; */
  margin:0px 26px;
}

.p {
  text-align:center;
  font-size:18px;
  margin-top:24px;
}

.contact {
  width: 100%;
  height: 700px;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 75%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.301);
  border-radius: 24px;
  margin: 24px 0px;
  padding: 20px;
  box-sizing: border-box;
}

.form_group {
  display: flex;
  justify-content:space-around;
  margin-bottom: 20px;
}

.label {
  font-size: 18px;
  color: #fff;
  margin-bottom: 16px;
}

.input,
.textarea {
  outline:none;
  border:none;
  width: 100%;
  padding: 14px;
  border: none;
  border-bottom: 2px solid #00000090;
  background-color: transparent;
  color: #000000cf;
  font-size: 16px;
  margin-top: 14px;
}

.textarea {
  height: 100px;
  resize: none;
}

.input::placeholder,
.textarea::placeholder {
  color: #000000cf;
}

.button {
  width: 120px;
  padding: 12px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  float:right;
}

.button:hover {
  background-color: #2980b9;
}

.w_50 {
  width:48%;
}

.menu {
  display:none;
}

.dropdown {
  width:100vw;
  height:calc(100vh - 64px);
  position:fixed;
  top:64px;
  z-index:1000;
  background-color:#ffff;
  display:flex;
  justify-content:center;
  align-items:center;
}

.liEle {
  text-align:center;
  margin:16px 0px;
  font-size:24px;
}

.footer {
  width:100%;
  height:400px;
  background-color:#2980b9;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.btn {
  width:140px;
  height:46px;
  border-radius:24px;
  background-color:rgb(51, 51, 252);
  color:#ffff;
  margin-top:24px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:16px;
}

.ul {
  width:300px;
}

.li {
  float:left;
  font-size:20px;
  width:100%;
  text-align:left;
  font-weight:300;
  margin:14px 0px;
}

.admin_login {
  width:140px;
  height:40px;
  background-color:rgb(54, 1, 146);
  color:#ffff;
  border-radius:4px;
  font-size:16px;
}

.li_ele {
  float:left;
  font-size:18px;
  margin:0px 14px;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {

  .container {
    width:100%;
  }

  .div {
    width:340px;
  }

  .tab {
    width:340px;
  }

  .footer {
    height:auto;
    padding:38px 0px;
    flex-direction:column;
  }

  .li {
    text-align:center;
  }

}

@media only screen and (max-width: 600px) {

  .nav {
    position:fixed;
    top:0;
    left:0;
    z-index:999;
  }

  .nav_link {
    display:none;
  }

  .overlay {
    padding-left:0px;
  }

  .home_h {
    width:100%;
    text-align:center;
  }

  .para {
    width:100%;
    text-align:center;
    font-size:16px;
  }

  .about {
    flex-direction:column;
    height:auto;
  }

  .left {
    width:100%;
    height:380px;
  }

  .right {
    width:100%;
    height:280px;
  }

  .services {
    height:auto;
    padding:34px 0px;
  }

  .container {
    width:100%;
    height:auto;
    flex-direction:column;
  }

  .h1 {
    text-align:center;
  }

  .form {
    width:90%;
    height:auto;
  }

  .w_50 {
    width:100%;
  }

  .form_group {
    flex-direction:column;
  }

  .menu {
    display:block;
  }

  .btn {
    transform:translateX(145px);
  }

  .footer {
    height:auto;
    padding:38px 0px;
    flex-direction:column;
  }

  .li {
    text-align:center;
  }

  .h1 {
    font-size:44px;
  }

  .div {
    margin:34px 0px;
  }

  .contact {
    height:auto;
  }

}