.main {
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

/* page.module.css */

.container {
    width:95%;
    overflow:scroll;
    height:500px;
}

.container::-webkit-scrollbar {
    display:none;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .headerRow {
    background-color: #f2f2f2;
  }

  .th {
    background-color:rgb(0, 204, 255);
  }

  .td {
    background-color:aliceblue;
  }
  
  .th, .td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .td {
    font-size: 14px;
  }
  
  .header {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .img {
    width:50px;
    height:50px
  }

  .searchInput {
    width:260px;
    outline:none;
    border:none;
    height:36px;
    background-color:aliceblue;
    border:1px solid rgb(133, 197, 253);
    border-radius:8px;
    margin-right:16px;
    padding-left:14px;
  }

  .searchButton {
    width:100px;
    height:36px;
    background-color:rgb(2, 2, 117);
    border-radius:24px;
    color:#ffff;
  }

  .nav {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:74px;
    background-color:#ffff;
    z-index:999;
    display:flex;
    justify-content:space-between;
    padding:0px 34px;
    align-items:center;
}

.li {
    float:left;
    font-size:18px;
    margin:0px 12px;
}
  
  /* Add more specific styling if needed */

  @media only screen and (max-width: 600px) {

    .searchContainer {
        width:100%;
    }

    .searchInput {
        width:230px;
    }

  }
  